body{
    margin: 0;
}
main{
  display: flex;
}
.container {
  margin: auto;
  max-width: 100vw;
  font-family: sans-serif;
}

.heading {
  color: black;
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
  color: black;
  text-decoration: none;
}

.nav-link-item:visited {
    padding-right: 2rem;
    color: black;
    text-decoration: none;
}


.site-title {
  font-size: 3rem;
  color: black;
  font-weight: 700;
  margin-top: 3rem;
  margin-left: 1vw;
  font-family: Arial, Helvetica, sans-serif;
}

.img{
    width: 5vw;
}
